
@media screen and (min-width: 1200px){
    
}
@media screen and (min-width: 992px){
    

}
@media screen and (min-width: 768px){
    

}
@media screen and (max-width: 600px) {
    .navbar a {
      float: none;
      display: block;
    }
    .column {
        width: 100%;
      }
  }